<!DOCTYPE>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>Fidget Cube</title>
</head>

<body>
    <header>
        <div class="nav">
            <a href="" class="home">
                <img src="img/logo.png" width="150px" alt="">
            </a>

            <a href="" class="menu">Fidget Cubes</a>
            <a href="" class="menu">Fidget Spinners</a>
            <a href="" class="menu">Contact Us</a>

            <a href="" class="carrito">
                <img src="img/iconocar.png" width="40px" alt="">
            </a>
        </div>





    </header>
    <section class="col">
        <div class="col1">

            <div class="descripcion">
                <h1>FIDGET CUBE</h1>
                <p>An unusually addicting, high-quality desk toy designed for all ages to help you focus. Fidget at work, in
                    class and at home in style. Fidget Cube has six sides with each side featuring something to fidget with:
                    Flip, Glide, Click, Spin, Roll, Breathe.</p>
                <button>COMPRAR</button>
            </div>
        </div>

        <div class="col2">

            <div class="imagen">
                <img class="cube1" src="img/imgIni.png" width="500px" alt="">
            </div>

        </div>

    </section>

    <section class="funciones">


        <div class="col1">

            <div class="glide">
                <div class="overlayU">
                    <div class="text">You don't have to be a gamer to enjoy the unusually satisfying gliding action of this joystick </div>
                </div>
            </div>

            <div class="spin">
                <div class="overlayD">
                    <div class="text">Looking for a circular fidget? take this dial for a spin
                    </div>
                </div>
            </div>

        </div>
        <div class="col2">

            <div class="breath">
                <div class="overlayT">
                    <div class="text">Say goodbye to stress. The design of this face is inspired by tradicional worry stone, tools used to
                        reduce anxiety when rubbed
                    </div>
                </div>
            </div>

            <div class="click">
                <div class="overlayC">
                    <div class="text">No need to click that pen anymore. You'll find 3 clicker buttons ans 2 silenced buttons on this side
                        design to satisfy the clicker in each of us.
                    </div>
                </div>
            </div>

        </div>
        <div class="col3">

            <div class="roll">
                <div class="overlayF">
                    <div class="text">The gears and ball on this side are all about rolling movements.
                    </div>
                </div>
            </div>

            <div class="flip">
                <div class="overlayS">
                    <div class="text">Pivot this switch back and forth gently if you're looking to fidgets silently, or quickly for a more
                        audible click.
                    </div>
                </div>
            </div>

        </div>


    </section>

    <section class="why">
        <div class="porque">

            <h1>Why?</h1>
            <p>The way we look at fidgeting needs to change. This behavior isn't one that should continue to be stigmatized
                and mocked as unbecoming or inappropriate. We are passionate about the idea that fidgeting is a process that,
                with the right tools and outlet, can have positive and real-life applications.</p>

        </div>
        <div class="imagenes">

            <img class="cubos" src="img/why.png" width="90%" alt=""></img>
        </div>

    </section>

    <section class="interaccion">


        <h1>CUSTOMIZE YOU CUBE</h1>



        <div class="conjunto">

            <div class="body">

                <h1>Body</h1>

                <div class="cir1">

                </div>

                <div class="cir2">

                </div>

            </div>

            <div class="cuboP">
                <div class="cubo2">
                    <div class="cubo3">
                        <div class="cubo4"></div>
                    </div>
                </div>

            </div>

            <div class="buttons">

                <h1>Buttons</h1>

                <div class="cambio">

                    <div class="izquierda">
                        <div class="fucsia"></div>
                        <div class="azul"></div>
                    </div>

                    <div class="derecha">
                        <div class="verde"></div>
                        <div class="amarillo"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="botonC">
            <button class="comprar"></button>
        </div>
    </section>

    <section class="caracteristicas">

        <img class="cubocar" src="img/cuboCAR.png" alt="">

        <div class="info">
            <h1>CHARACTERISTICS</h1>
            <p>Rubber bucket 8 different colors </br>
                </br>

                Size: 3.3 x 3.3 x 3.3 cms.</br>
                </br>

                Presented in individual box.</br>
                </br>

                Click (5 buttons)
            </p>
        </div>



        <div class="contacto">
            <h2>CONTACT US</h2>
            <input class="em" type="email" placeholder="example@example.com">
            <button class="btn">Enviar</button>

        </div>
    </section>

    <section class="promo">

        <div class="only">
            <img src="img/only.png" alt="">
        </div>

        <img src="img/promo.png" alt="">

    </section>

    <section class="footer">

        <div class="logo">
            <a href="" class="imglogo">
                <img src="img/logo.png" width="150px" alt="">
            </a>
        </div>
        <div class="redes">
            <a href="" class="twitter">
                <img src="img/twitter.png" width="66px" alt="">
            </a>
            <a href="" class="fb">
                <img src="img/fb.png" width="66px" alt="">
            </a>
            <a href="" class="insta">
                <img src="img/inst.png" width="66px" alt="">
            </a>
        </div>
    </section>
    <script src="https://unpkg.com/sweetalert2@7.17.0/dist/sweetalert2.all.js"></script>
    <script src="script.js"></script>
</body>

</html>